.element__content {
  width: 100%;
  display: none;
}


.element:hover .element__content {
  display: block;
}

.element__type[type="radio"]:checked ~ .element__label .element__content {
  display: block;
}