.header__title {
  font-size: 76px;
}

@media screen and (max-width: 1400px) {
  .header__title {
    font-size: 56px;
  }
}

@media screen and (max-width: 820px) {
  .header__title {
    font-size: 48px;
  }
}

@media screen and (max-width: 550px) {
  .header__title {
    font-size: 28px;
  }
}
