.element__add {
  height: 55px;
  width: 55px;
  align-self: center;
  opacity: 0;
  transition: ease all 0.3s;
}

.accordion:hover .element__add {
  opacity: 1;
}

.element:hover .element__add {
  transform: rotate(45deg);
}

.element__type[type="radio"]:checked + .element__label .element__add {
  transform: rotate(45deg);
}

@media screen and (max-width: 1400px) {
  .element__add {
    height: 45px;
    width: 45px;
  }
}

@media screen and (max-width: 820px) {
  .element__add {
    opacity: 1;
    height: 35px;
    width: 35px;
  }
}

@media screen and (max-width: 500px) {
  .element__add {
    height: 30px;
    width: 30px;
  }
}